.array-container {
    position: relative;
}
.arrayBar {
    width: 8px;
    padding-top: 7px;
    background-color: rgb(236, 149, 164);
    display: inline-block;
    margin: 0 1px;
    border-radius: 5px;
}
