.array-container{
    position: absolute;
   left:80px;
 }
 .arrayBar{
     width:4px;
     padding-top: 7px;
     background-color: rgb(236, 149, 164);
     display: inline-block;
     margin: 0 1px;
 
 }
 